html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Parametro */

$backgroundDark: #323746;
$cyan: #10BEF0;
$blueMedium: #2782D7;
$blue: #005F93;
$red: #F56161;
$whiteFont: #FFFFFF;
$headerSize: 30px;
$labelSize: 10px;
$dateSize: 18px;
$bodyWidth: 30vw;
$itemSize: calc(30vw / 8);
$fontBarlow: 'Barlow', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

body {
    background-color: whitesmoke;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    .appSection {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);;
    width: 100%;
    max-width: 360px;
    max-height: 649px;
    margin: 2vh auto;
    min-height: 649px;
    align-items: center;}
  
    /*Contenido tab estadisticas*/
    .tab-widget {}

.tab-widget__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tab-widget__item {
    display: inline;
    margin-right: 5px;
}

.tab-widget__link {    
    background-color: FireBrick;
    border-radius: 5px 5px 0 0;
    color: White;
    font-weight: bold;
    line-height: 2.1;
    padding: .5em 1.5em;
    text-decoration: none;
}

.tab-widget__link:focus,
.tab-widget__link:hover {
    color: White;
}

.tab-widget__link--active {
    background-color: Crimson;
    color: white;
}

.tab-widget__tabs {
    background-color: WhiteSmoke;
    border: solid Firebrick 1px;    
    border-radius: 0 5px 5px 5px;
    padding: 1em;
}

.tab-widget__tab-content {    
    display: none;
}

.tab-widget__tab-content--active,
.no-js .tab-widget__tab-content {
    display: block;
}

}
   
