html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Inter;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Parametro */
body {
  background-color: whitesmoke;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body .appSection {
  background-color: white;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.appSection .modal-img {
  height: 100vh;
  width: 100vw;
}

/*Contenido tab estadisticas*/

body .tl_container {
  margin: 1rem 0;
  width: 100vw;
}

body .tl_list {
  display: flex;
  padding: 0;
  margin: 0 16px;
  align-items: center;
  justify-content: left;
  list-style: none;
  border: solid 2px;
  border-color: #5538EE;
  border-radius: 50px;
}

body .tl_list li {
  margin: 0;
  width: 33.3333%;
  text-align: center;
  border-radius: 4px 4px 0 0;
}

body .tl_list a {
  padding: 10px 24px;
  display: block;
  border: none;
  text-decoration: none;
  text-shadow: none;
  color: #6200EE;
}



body .tl_section h2:focus {
  outline: 1px solid currentcolor;
}

body .tl_section {
  padding: 1rem 16px;
  min-height: 8rem;
  text-shadow: none;
  border: solid 1px grey;
  margin: 18px 0;
}

body .tl_section h2 {
  margin-top: 1rem;
}

.highcharts-credits {
  display: none;
}

body .a,
body .a:hover,
body .a:focus {
  color: #6200EE;
  border-radius: 40px;
}

body .b,
body .b:hover,
body .b:focus {
  color: #6200EE;
  border-radius: 40px;
}

body .c,
body .c:hover,
body .c:focus {
  color: #6200EE;
  border-radius: 40px;
}

body [aria-selected=true][tabindex="0"] {
  background-color: #6200EE;
  font-weight: 600;
  color: #ffffff;
}

/* tab & panel colour */
/* 
  Section styling (required)
  Removes hidden sections from the keychain. 
  Only used when JavaScript is available.
  */
body [role=tabpanel][aria-hidden=true] {
  display: none;
}

/*Graficos*/
#container,
#container_b,
#container_c {
  min-width: 310px;
  max-width: 800px;
  height: 30vh;
  margin: 0 auto;
}

#container-pie,
#container-pie_b,
#container-pie_c {
  height: 30vh;
  width: 60vw;
}

.highcharts-point.highcharts-color-0 {
  fill: #6200EE;
}

.highcharts-data-label-connector.highcharts-color-1,
.highcharts-label.highcharts-data-label.highcharts-data-label-color-0,
.highcharts-label.highcharts-data-label.highcharts-data-label-color-1,
.highcharts-data-label-connector.highcharts-color-0 {
  display: none;
}

.resumen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.resumen .money {
  font-size: 20px;
}


.consolidado {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
  border-top: solid 1px grey;
  padding: 24px 16px;
  width: 85vw;
  margin-top: 24px;
  background-color: white;
}

.consolidado .money {
  font-size: 20px;
}

/*Title*/
h1 {
  color: black;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  color: black;
  font-size: 34px;
  font-weight: 700;
}

h3 {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

h4 {
  color: #6D7072;
  font-size: 12px;
  font-weight: 300;
}

/*Estuctura Javi - Home*/
body .appSection header {
  background-color: #F3F3F3;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px 25px;
  margin-top: 20px;
}

.header-estadisticas {
  display: flex;
  justify-content: space-between;
  background-color: #F3F3F3;
}

.header-estadisticas h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: Inter;
}


#Name {
  margin-top: -15px;
}

.minitext {
  color: #6D7072;
  font-size: 12px;
  font-weight: 300;
  font-family: Inter;
}

.money {
  color: black;
  font-size: 34px;
  font-weight: 700;
  font-family: Inter;
}

body .appSection header img {
  vertical-align: middle;
}

body .appSection header .noti {
  margin-left: 30vh;
}

body .appSection header .saldo {
  display: inline-flex;
  padding-top: 10px;
}

body .appSection header .moneda {
  color: #6D7072;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  background: none;
  border: 0;
  margin-left: 90px;
  margin-top: 25px;
}

body .appSection header .accion {
  font-size: 16px;
  font-weight: 300;
  display: inline-flex;
  list-style-type: none;
  font-family: Inter;
  margin-top: 30px;
}

body .appSection header a {
  color: white;
  text-decoration: none;
}



#Ingreso {
  margin-right: 60px;
  background-color: #5538EE;
  padding: 10px 40px;
  border-radius: 50px;
}

#Gasto {
  background-color: #5538EE;
  padding: 10px 40px;
  border-radius: 50px;
}


body .appSection main {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 25px;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  height: 55vh;
}

.objetivo {
  width: 275px;
  margin-top: 15px;
  padding: 20px;
  text-align: center;
  border-radius: 22px;
  border: solid 1px #D9D9D9;
}

.objetivo-cargado {
  width: 275px;
  margin-top: 15px;
  padding: 20px 15px 0 20px;
  text-align: center;
  border-radius: 22px;
  border: solid 1px #D9D9D9;
  display: inline-flex;
}

.objetivo-cargado img {
  margin-top: -10px;
  margin-left: 25px;
}

#grafico-casa {
  margin-left: 8px;
}

.texto-card {
  text-align: left;
}

.texto-card h2 {
  font-size: 24px;
}

.texto-card p {
  font-size: 14px;
  color: #6D7072;
  margin-top: 10px;
}

.CTA {
  background-color: #5538EE;
  color: white;
  font-size: 16px;
  font-family: Inter;
  padding: 15px 100px;
  border-radius: 50px;
  border: 0;
}

.CTA-sec {
  border: solid 3px #5538EE;
  color: #5538EE;
  font-size: 16px;
  font-family: Inter;
  padding: 15px 55px;
  border-radius: 50px;
  margin-top: 5px;
  width: 65vw;
}

.chat {
  margin-top: 20vh;
  position: relative;
  text-align: right;
}

.chat2 {
  margin-top: -45px;
  text-align: right;
}

nav {
  background-color: white;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
  width: 100vw;
  margin: 0;
  padding: 0;
  bottom: 0;
  position: fixed;
}

nav ul {
  list-style-type: none;
  font-size: 12px;
  color: #6C7072;
  display: flex;
  font-size: 12px;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}


nav ul li a {
  text-align: center;
  margin: 10px;
  vertical-align: top;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

nav ul img {
  height: 24px;
}

nav ul li a {
  text-decoration: none;
  color: #6C7072;
}

[aria-current]:not([aria-current="false"]) {
  font-weight: bold;
  color: #5538EE;
}

#home2 {
  margin-top: 15px;
}

button {
  border: 0;
  background: 0;
}

button a {
  text-decoration: none;
}

#Agregar2 {
  margin: -25px -10px auto -10px;
}

#Agregar2 img {
  height: 80px;
}

.CTA-nuevo {
  background-color: #5538EE;
  color: white;
  font-size: 16px;
  font-family: Inter;
  padding: 15px 60px;
  border-radius: 50px;
  border: 0;
  margin-top: 15px;
}

#Modal1 {
  width: 90vw;
  position: fixed;
  background-color: white;
  border-radius: 24px 24px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  z-index: 1;
  margin-top: -28vh;
}

#Modal1 p {
  margin: 16px 0 24px;
}

#Modal1 .CTA {
  width: 90vw;
}

.botones .CTA {
  width: 90vw;
  margin-bottom: 16px;
}

.botones {
  text-align: center;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Modal2 {
  width: 90vw;
  position: fixed;
  background-color: white;
  border-radius: 24px 24px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  z-index: 1;
}

#Modal2 a {
  color: white;
  text-decoration: none;
}

#opciones {
  display: inline-flex;
}

#ico-ingreso {
  margin-right: 80px;
}

.top {
  padding: 20px 16px 0 16px;
}

.top h1 {
  margin-top: 15px;
  text-align: center;
}


.card {
  border: solid 1px #D9D9D9;
  border-radius: 22px;
  text-align: center;
  width: 120px;
  padding: 15px;
  margin-top: 20px;
}

.card.hover-option {
  border: solid 4px #6200ee6b;
}

#Select {
  border: solid 1px #5538EE;
  border-radius: 22px;
  text-align: center;
  width: 120px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card p {
  font-size: 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.container a {
  color: black;
  text-decoration: none;
}

.botones {
  text-align: center;
  margin-top: 5px;
}

.dinero p {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.dinero .money {
  margin-top: 15px;
}

input {
  font-weight: 700;
  font-family: Inter;
  color: black;
}

#tentacles {
  background: 0;
  font-size: 34px;
  color: black;
}

.fechas {
  display: flex;
  flex-direction: column;
}

.fechas label {
  margin-top: 32px;
}

.fechas select {
  margin-top: 8px;
}

.Continuar {
  text-align: center;
}

.Continuar2 {
  text-align: center;
}

#fecha {
  background: 0;
  margin-top: 20px;
}

#final {
  text-align: center;
}

#final h1 {
  text-align: left;
  margin: 20px auto;
}

.Inicio {
  margin-top: 50px;
  text-align: center;
}



.objetivo-vacio {
  width: 275px;
  margin-top: 15px;
  padding: 20px;
  text-align: center;
  border-radius: 22px;
  border: solid 1px #D9D9D9;
}

.objetivo-vacio p {
  color: black;
  font-family: Inter;
  font-size: 16px;
  margin: 15px 0;
}

.objetivo-vacio .CTA {
  background-color: #5538EE;
  color: white;
  font-size: 16px;
  font-family: Inter;
  padding: 15px 60px;
  border-radius: 50px;
  border: 0;
}

button {
  border: 0;
  background: 0;
}

button a {
  text-decoration: none;
}

#Agregar2 {
  margin: -25px -10px auto -10px;
}

#Agregar2 img {
  height: 80px;
}


/*PERFIL */


.faq-container {
  text-align: left;
  margin: auto;
  position: relative;
  width: 95vw;
}

.faq-container article p {
  margin: 10px 15px 15px 15px;
}

.faq-container input[type=checkbox],
.faq-container input[type=radio] {
  background-color: transparent;
  border: 1px solid transparent;
  height: 1px;
  position: absolute;
  width: 1px;
  margin: 4px 0 0 0;
  outline: none;
}

.faq-container input[type=checkbox]+label,
.faq-container input[type=radio]+label {
  background: #EEEEEE;
  border-bottom: 1px solid #fff;
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  padding: 10px 15px;
  position: relative;
  z-index: 20;
}

.faq-container input[type=checkbox]+label:before,
.faq-container input[type=radio]+label:before,
.faq-container input[type=checkbox]+label:after,
.faq-container input[type=radio]+label:after {
  display: inline-block;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.faq-container input[type=checkbox]+label:before,
.faq-container input[type=radio]+label:before {
  padding-right: 10px;
}

.faq-container input[type=checkbox]+label:after,
.faq-container input[type=radio]+label:after {
  float: right;
  padding-left: 10px;
}

.faq-container input[type=checkbox]+label:hover,
.faq-container input[type=radio]+label:hover {
  background: #D6D6D6;
}

.faq-container input[type=checkbox]:checked+label,
.faq-container input[type=radio]:checked+label {
  background: #EEEEEE;
}

.faq-container input[type=checkbox]:focus+label,
.faq-container input[type=radio]:focus+label {
  background: #BEBEBE;
}

.faq-container input[type=checkbox]:checked+label:hover,
.faq-container input[type=radio]:checked+label:hover {
  background: #D6D6D6;
}

.faq-container input[type=checkbox]:checked+label:after,
.faq-container input[type=radio]:checked+label:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.faq-container input[type=checkbox]+label+article,
.faq-container input[type=radio]+label+article {
  display: none;
  /* display: none; - Content is ignored by screen readers, additionally stops tabbing through hidden content */
  height: 0;
  max-height: 0;
  overflow: hidden;
  /* 0, 0, hidden; - Content is ignored by screen readers, but tab key still steps through hidden elements */
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.faq-container input[type=checkbox]:checked+label+article,
.faq-container input[type=radio]:checked+label+article {
  display: block;
  height: auto;
  max-height: 2000px;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}